<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.kang.entity.Article">
        <id column="article_id" jdbcType="VARCHAR" property="articleId"/>
        <result column="article_title" jdbcType="VARCHAR" property="articleTitle"/>
        <result column="first_img" jdbcType="VARCHAR" property="firstImg"/>
        <result column="article_category" jdbcType="INTEGER" property="articleCategory"/>
        <result column="article_type" jdbcType="INTEGER" property="articleType"/>
        <result column="article_summary" jdbcType="VARCHAR" property="articleSummary"/>
        <result column="article_view" jdbcType="INTEGER" property="articleView"/>
        <result column="article_state" jdbcType="INTEGER" property="articleState"/>
        <result column="article_coin" jdbcType="INTEGER" property="articleCoin"/>
        <result column="article_album" jdbcType="VARCHAR" property="articleAlbum"/>
        <result column="article_createtime" jdbcType="TIMESTAMP" property="articleCreatetime"/>
        <result column="article_updatetime" jdbcType="TIMESTAMP" property="articleUpdatetime"/>
        <result column="author_avatar" jdbcType="VARCHAR" property="authorAvatar"/>
        <result column="author_id" jdbcType="BIGINT" property="authorId"/>
        <result column="article_editor" jdbcType="INTEGER" property="articleEditor"/>
        <result column="comment_switch" jdbcType="INTEGER" property="commentSwitch"/>
        <result column="author_name" jdbcType="VARCHAR" property="authorName"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.kang.entity.Article">
        <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent"/>
    </resultMap>

    <sql id="Base_Column_List">
        article_id
        , article_title, first_img, article_category, article_type, article_summary,
    article_view, article_state, article_coin, article_album, article_createtime, article_updatetime,
    author_avatar, author_id, article_editor,comment_switch, author_name
    </sql>
    <sql id="Blob_Column_List">
        article_content
    </sql>

    <insert id="insertSelective" parameterType="com.kang.entity.Article">
        insert into ttc_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                article_id,
            </if>
            <if test="articleTitle != null">
                article_title,
            </if>
            <if test="firstImg != null">
                first_img,
            </if>
            <if test="articleCategory != null">
                article_category,
            </if>
            <if test="articleType != null">
                article_type,
            </if>
            <if test="articleSummary != null">
                article_summary,
            </if>
            <if test="articleView != null">
                article_view,
            </if>
            <if test="articleState != null">
                article_state,
            </if>
            <if test="articleCoin != null">
                article_coin,
            </if>
            <if test="articleAlbum != null">
                article_album,
            </if>
            <if test="articleCreatetime != null">
                article_createtime,
            </if>
            <if test="articleUpdatetime != null">
                article_updatetime,
            </if>
            <if test="authorAvatar != null">
                author_avatar,
            </if>
            <if test="authorId != null">
                author_id,
            </if>
            <if test="articleEditor != null">
                article_editor,
            </if>
            <if test="commentSwitch != null">
                comment_switch,
            </if>
            <if test="authorName != null">
                author_name,
            </if>
            <if test="articleContent != null">
                article_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="articleId != null">
                #{articleId,jdbcType=VARCHAR},
            </if>
            <if test="articleTitle != null">
                #{articleTitle,jdbcType=VARCHAR},
            </if>
            <if test="firstImg != null">
                #{firstImg,jdbcType=VARCHAR},
            </if>
            <if test="articleCategory != null">
                #{articleCategory,jdbcType=INTEGER},
            </if>
            <if test="articleType != null">
                #{articleType,jdbcType=INTEGER},
            </if>
            <if test="articleSummary != null">
                #{articleSummary,jdbcType=VARCHAR},
            </if>
            <if test="articleView != null">
                #{articleView,jdbcType=VARCHAR},
            </if>
            <if test="articleState != null">
                #{articleState,jdbcType=INTEGER},
            </if>
            <if test="articleCoin != null">
                #{articleCoin,jdbcType=INTEGER},
            </if>
            <if test="articleAlbum != null">
                #{articleAlbum,jdbcType=VARCHAR},
            </if>
            <if test="articleCreatetime != null">
                #{articleCreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="articleUpdatetime != null">
                #{articleUpdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="authorAvatar != null">
                #{authorAvatar,jdbcType=VARCHAR},
            </if>
            <if test="authorId != null">
                #{authorId,jdbcType=BIGINT},
            </if>
            <if test="articleEditor != null">
                #{articleEditor,jdbcType=INTEGER},
            </if>
            <if test="commentSwitch != null">
                #{commentSwitch,jdbcType=INTEGER},
            </if>
            <if test="authorName != null">
                #{authorName,jdbcType=VARCHAR},
            </if>
            <if test="articleContent != null">
                #{articleContent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.kang.entity.Article">
        update ttc_article
        set article_title      = #{articleTitle,jdbcType=VARCHAR},
            first_img          = #{firstImg,jdbcType=VARCHAR},
            article_category   = #{articleCategory,jdbcType=INTEGER},
            article_type       = #{articleType,jdbcType=INTEGER},
            article_summary    = #{articleSummary,jdbcType=VARCHAR},
            article_view       = #{articleView,jdbcType=INTEGER},
            article_state      = #{articleState,jdbcType=INTEGER},
            article_coin       = #{articleCoin,jdbcType=INTEGER},
            article_album      = #{articleAlbum,jdbcType=VARCHAR},
            article_createtime = #{articleCreatetime,jdbcType=TIMESTAMP},
            article_updatetime = #{articleUpdatetime,jdbcType=TIMESTAMP},
            author_avatar      = #{authorAvatar,jdbcType=VARCHAR},
            author_id          = #{authorId,jdbcType=BIGINT},
            article_editor     = #{articleEditor,jdbcType=INTEGER},
            comment_switch     = #{commentSwitch,jdbcType=INTEGER},
            author_name        = #{authorName,jdbcType=VARCHAR},
            article_content    = #{articleContent,jdbcType=LONGVARCHAR}
        where article_id = #{articleId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.kang.entity.Article">
        update ttc_article
        <set>
            <if test="articleTitle != null">
                article_title = #{articleTitle,jdbcType=VARCHAR},
            </if>
            <if test="firstImg != null">
                first_img = #{firstImg,jdbcType=VARCHAR},
            </if>
            <if test="articleCategory != null">
                article_category = #{articleCategory,jdbcType=INTEGER},
            </if>
            <if test="articleType != null">
                article_type = #{articleType,jdbcType=INTEGER},
            </if>
            <if test="articleSummary != null">
                article_summary = #{articleSummary,jdbcType=VARCHAR},
            </if>
            <if test="articleView != null">
                article_view = #{articleView,jdbcType=INTEGER},
            </if>
            <if test="articleState != null">
                article_state = #{articleState,jdbcType=INTEGER},
            </if>
            <if test="articleCoin != null">
                article_coin = #{articleCoin,jdbcType=INTEGER},
            </if>
            <if test="articleAlbum != null">
                article_album = #{articleAlbum,jdbcType=VARCHAR},
            </if>
            <if test="articleCreatetime != null">
                article_createtime = #{articleCreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="articleUpdatetime != null">
                article_updatetime = #{articleUpdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="authorAvatar != null">
                author_avatar = #{authorAvatar,jdbcType=VARCHAR},
            </if>
            <if test="authorId != null">
                author_id = #{authorId,jdbcType=BIGINT},
            </if>
            <if test="articleEditor != null">
                article_editor = #{articleEditor,jdbcType=INTEGER},
            </if>
            <if test="commentSwitch != null">
                comment_switch = #{commentSwitch,jdbcType=INTEGER},
            </if>
            <if test="authorName != null">
                author_name = #{authorName,jdbcType=VARCHAR},
            </if>
            <if test="articleContent != null">
                article_content = #{articleContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where article_id = #{articleId,jdbcType=VARCHAR}
    </update>

    <update id="updateUserInfoByUserId" parameterType="com.kang.entity.User">
        update ttc_article
        set author_name=#{nickName,jdbcType=VARCHAR},author_avatar=#{userAvatar,jdbcType=VARCHAR}
        where author_id=#{userId,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="string">
        delete
        from ttc_article
        where article_id = #{articleId,jdbcType=BIGINT}
    </delete>

    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="string">
        select
        <include refid="Base_Column_List"/>,
        <include refid="Blob_Column_List"/>,category_name as articleCategoryName
        from ttc_article ar
        left join ttc_category ca
        on ar.article_category=ca.category_code
        where article_id=#{articleId,jdbcType=VARCHAR}
    </select>

    <select id="selectByParam" resultMap="ResultMapWithBLOBs" parameterType="com.kang.entity.vo.QueryArticleVo">
        select
        <include refid="Blob_Column_List"/>,
        <include refid="Base_Column_List"/>,category_name as articleCategoryName
        from ttc_article ar
        left join ttc_category ca
        on ar.article_category = ca.category_code
        <where>
            <if test="authorId != null">
                and ar.author_id = #{authorId,jdbcType=VARCHAR}
            </if>
            <if test="articleState != null">
                and ar.article_state = #{articleState,jdbcType=VARCHAR}
            </if>
            <if test="categoryCode != null and categoryCode != -1">
                and ar.article_category=#{categoryCode}
            </if>
            <if test="albumId != null and albumId != ''">
                and ar.article_album = #{albumId}
            </if>
        </where>
        <if test="order == 'new'.toString()">
            order by article_updatetime desc;
        </if>
        <if test="order == 'hot'.toString()">
            order by article_view desc;
        </if>
    </select>

    <select id="selectByIds" resultType="com.kang.entity.Article" parameterType="list">
        select
        <include refid="Base_Column_List"/>,category_name as articleCategoryName
        from ttc_article ar
        left join ttc_category ca
        on ar.article_category = ca.category_code
        where ar.article_id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="selectNum" resultType="com.kang.entity.vo.WorkStateNum" parameterType="long">
        select
            (select count(1) from ttc_article where author_id = #{uid} and article_state = 0) as zero,
            (select count(1) from ttc_article where author_id = #{uid} and article_state = 1) as one,
            (select count(1) from ttc_article where author_id = #{uid} and article_state = 2) as two,
            (select count(1) from ttc_article where author_id = #{uid} and article_state = 3) as three
    </select>

</mapper>
