<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.mapper.AttentionMapper">
    <resultMap id="BaseResultMap" type="com.kang.entity.Attention">
        <id column="attention_id" jdbcType="VARCHAR" property="attentionId"/>
        <result column="idol_id" jdbcType="BIGINT" property="idolId"/>
        <result column="fans_id" jdbcType="BIGINT" property="fansId"/>
    </resultMap>
    <sql id="Base_Column_List">
        attention_id
        , idol_id, fans_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ttc_attention
        where attention_id = #{attentionId,jdbcType=VARCHAR}
    </select>
    <select id="selectByParam" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        <if test="(idolId != null and fansId == null) || (idolId == null and fansId != null)">
         ,nick_name as nickname,user_avatar as avatar,user_sign as sign
        </if>
        from ttc_attention att
        <if test="idolId != null and fansId == null">
        left join ttc_user u
        on att.fans_id = u.user_id
        </if>
        <if test="idolId == null and fansId != null">
        left join ttc_user u
        on att.idol_id = u.user_id
        </if>
        <where>
            <if test="idolId != null">
                and idol_id = #{idolId}
            </if>
            <if test="fansId != null">
                and fans_id = #{fansId}
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from ttc_attention
        where attention_id = #{attentionId,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByParam" parameterType="com.kang.entity.Attention">
        delete from ttc_attention
        <where>
            <if test="idolId != null">
                and idol_id = #{idolId}
            </if>
            <if test="fansId != null">
                and fans_id = #{fansId}
            </if>
        </where>
    </delete>
    <insert id="insert" parameterType="com.kang.entity.Attention">
        insert into ttc_attention (attention_id, idol_id, fans_id)
        values (#{attentionId,jdbcType=VARCHAR}, #{idolId,jdbcType=BIGINT}, #{fansId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.kang.entity.Attention">
        insert into ttc_attention
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attentionId != null">
                attention_id,
            </if>
            <if test="idolId != null">
                idol_id,
            </if>
            <if test="fansId != null">
                fans_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="attentionId != null">
                #{attentionId,jdbcType=VARCHAR},
            </if>
            <if test="idolId != null">
                #{idolId,jdbcType=BIGINT},
            </if>
            <if test="fansId != null">
                #{fansId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.kang.entity.Attention">
        update ttc_attention
        <set>
            <if test="idolId != null">
                idol_id = #{idolId,jdbcType=BIGINT},
            </if>
            <if test="fansId != null">
                fans_id = #{fansId,jdbcType=BIGINT},
            </if>
        </set>
        where attention_id = #{attentionId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.kang.entity.Attention">
        update ttc_attention
        set idol_id = #{idolId,jdbcType=BIGINT},
            fans_id = #{fansId,jdbcType=BIGINT}
        where attention_id = #{attentionId,jdbcType=VARCHAR}
    </update>
</mapper>
