<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.mapper.CollectMapper">
    <resultMap id="BaseResultMap" type="com.kang.entity.Collect">
        <result column="collect_id" jdbcType="BIGINT" property="collectId"/>
        <result column="works_id" jdbcType="VARCHAR" property="worksId"/>
        <result column="collect_favorite" jdbcType="VARCHAR" property="collectFavorite"/>
        <result column="collect_createtime" jdbcType="TIMESTAMP" property="collectCreatetime"/>
    </resultMap>
    <sql id="Base_Column_List">
        collect_id
        , works_id, collect_favorite,collect_createtime
    </sql>

    <insert id="insert" parameterType="com.kang.entity.Collect">
        insert into ttc_collect (collect_id, works_id, collect_favorite,
                                 collect_createtime)
        values (#{collectId,jdbcType=BIGINT}, #{worksId,jdbcType=VARCHAR}, #{collectFavorite,jdbcType=VARCHAR},
                #{collectCreatetime,jdbcType=TIMESTAMP})
    </insert>
    <delete id="deleteByParam" parameterType="java.lang.Long">
        delete from ttc_collect
        <where>
            <if test="collectId != null">
                and collect_id = #{collectId}
            </if>
            <if test="worksId != null and worksId != ''">
                and works_id=#{worksId}
            </if>
        </where>
    </delete>
    <select id="selectByParam" parameterType="com.kang.entity.Collect" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from ttc_collect
        <where>
            <if test="collectId != null">
                and collect_id = #{collectId}
            </if>
            <if test="worksId != null and worksId != ''">
                and works_id=#{worksId}
            </if>
            <if test="collectFavorite != null and collectFavorite != ''">
                and collect_favorite=#{collectFavorite}
            </if>
        </where>
    </select>
    <select id="selectWorksIdByParam" parameterType="string" resultType="string">
        select works_id
        from ttc_collect
        where collect_favorite = #{fid}
    </select>

    <select id="selectNum" parameterType="string" resultType="integer">
        select count(1)
        from ttc_collect
        where collect_favorite = #{favoriteId}
    </select>


    <insert id="insertSelective" parameterType="com.kang.entity.Collect">
        insert into ttc_collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="collectId != null">
                collect_id,
            </if>
            <if test="worksId != null">
                works_id,
            </if>
            <if test="collectFavorite != null">
                collect_favorite,
            </if>
            <if test="collectCreatetime != null">
                collect_createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="collectId != null">
                #{collectId,jdbcType=BIGINT},
            </if>
            <if test="worksId != null">
                #{worksId,jdbcType=VARCHAR},
            </if>
            <if test="collectFavorite != null">
                #{collectFavorite,jdbcType=VARCHAR},
            </if>
            <if test="collectCreatetime != null">
                #{collectCreatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
</mapper>
