<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.mapper.FavoriteMapper">

    <resultMap id="BaseResultMap" type="com.kang.entity.Favorite">
        <id column="favorite_id" jdbcType="VARCHAR" property="favoriteId" />
        <result column="favorite_name" jdbcType="VARCHAR" property="favoriteName" />
        <result column="favorite_owner" jdbcType="BIGINT" property="favoriteOwner" />
        <result column="favorite_createtime" jdbcType="TIMESTAMP" property="favoriteCreatetime" />
    </resultMap>

    <sql id="Base_Column_List">
        favorite_id, favorite_name, favorite_owner, favorite_createtime
    </sql>

    <insert id="insertSelective" parameterType="com.kang.entity.Favorite">
        insert into ttc_favorite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="favoriteId != null">
                favorite_id,
            </if>
            <if test="favoriteName != null">
                favorite_name,
            </if>
            <if test="favoriteOwner != null">
                favorite_owner,
            </if>
            <if test="favoriteCreatetime != null">
                favorite_createtime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="favoriteId != null">
                #{favoriteId,jdbcType=VARCHAR},
            </if>
            <if test="favoriteName != null">
                #{favoriteName,jdbcType=VARCHAR},
            </if>
            <if test="favoriteOwner != null">
                #{favoriteOwner,jdbcType=VARCHAR},
            </if>
            <if test="favoriteCreatetime != null">
                #{favoriteCreatetime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.kang.entity.Favorite">
        select
        <include refid="Base_Column_List" />
        from ttc_favorite
        <where>
            <if test="favoriteOwner != null">
                and favorite_owner = #{favoriteOwner}
            </if>
            <if test="favoriteName != null and favoriteName != ''">
                and favorite_name = #{favoriteName}
            </if>
        </where>
    </select>

</mapper>
