<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.mapper.InformMapper">

    <resultMap id="BaseResultMap" type="com.kang.entity.Inform">
        <id column="inform_id" jdbcType="VARCHAR" property="informId"/>
        <result column="inform_content" jdbcType="VARCHAR" property="informContent"/>
        <result column="inform_receiver" jdbcType="BIGINT" property="informReceiver"/>
        <result column="inform_createtime" jdbcType="TIMESTAMP" property="informCreatetime"/>
        <result column="work_id" jdbcType="VARCHAR" property="workId"/>
        <result column="work_type" jdbcType="INTEGER" property="workType"/>
        <result column="inform_state" jdbcType="INTEGER" property="informState"/>
        <result column="inform_type" jdbcType="INTEGER" property="informType"/>
    </resultMap>
    <sql id="Base_Column_List">
        inform_id
        , inform_content, inform_receiver, inform_createtime, work_id, work_type,
    inform_state, inform_type
    </sql>

    <insert id="insertSelective" parameterType="com.kang.entity.Inform">
        insert into ttc_inform
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="informId != null">
                inform_id,
            </if>
            <if test="informContent != null">
                inform_content,
            </if>
            <if test="informReceiver != null">
                inform_receiver,
            </if>
            <if test="informCreatetime != null">
                inform_createtime,
            </if>
            <if test="workId != null">
                work_id,
            </if>
            <if test="workType != null">
                work_type,
            </if>
            <if test="informState != null">
                inform_state,
            </if>
            <if test="informType != null">
                inform_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="informId != null">
                #{informId,jdbcType=VARCHAR},
            </if>
            <if test="informContent != null">
                #{informContent,jdbcType=VARCHAR},
            </if>
            <if test="informReceiver != null">
                #{informReceiver,jdbcType=BIGINT},
            </if>
            <if test="informCreatetime != null">
                #{informCreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="workId != null">
                #{workId,jdbcType=VARCHAR},
            </if>
            <if test="workType != null">
                #{workType,jdbcType=INTEGER},
            </if>
            <if test="informState != null">
                #{informState,jdbcType=INTEGER},
            </if>
            <if test="informType != null">
                #{informType,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateStateByIds" parameterType="list">
        update ttc_inform
        set inform_state=1
        where inform_id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <delete id="deleteByIds" parameterType="list">
        delete
        from ttc_inform
        where inform_id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.kang.entity.vo.QueryInformVo">
        select
        <include refid="Base_Column_List"/>
        from ttc_inform
        <where>
            <if test="informReceiver!=null">
                and inform_receiver=#{informReceiver}
            </if>
            <if test="informType!=null">
                and inform_type=#{informType}
            </if>
            <if test="informState!=null">
                and inform_state=#{informState}
            </if>
        </where>
        order by inform_createtime desc
    </select>
</mapper>
