<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.kang.entity.Video">
        <id column="video_id" jdbcType="VARCHAR" property="videoId"/>
        <result column="video_title" jdbcType="VARCHAR" property="videoTitle"/>
        <result column="first_img" jdbcType="VARCHAR" property="firstImg"/>
        <result column="video_category" jdbcType="INTEGER" property="videoCategory"/>
        <result column="video_type" jdbcType="INTEGER" property="videoType"/>
        <result column="video_url" jdbcType="VARCHAR" property="videoUrl"/>
        <result column="video_summary" jdbcType="VARCHAR" property="videoSummary"/>
        <result column="video_view" jdbcType="BIGINT" property="videoView"/>
        <result column="video_createtime" jdbcType="TIMESTAMP" property="videoCreatetime"/>
        <result column="video_updatetime" jdbcType="TIMESTAMP" property="videoUpdatetime"/>
        <result column="video_state" jdbcType="INTEGER" property="videoState"/>
        <result column="video_coin" jdbcType="INTEGER" property="videoCoin"/>
        <result column="video_album" jdbcType="VARCHAR" property="videoAlbum"/>
        <result column="associated_article" jdbcType="VARCHAR" property="associatedArticle"/>
        <result column="associated_resource" jdbcType="VARCHAR" property="associatedResource"/>
        <result column="author_id" jdbcType="BIGINT" property="authorId"/>
        <result column="comment_switch" jdbcType="INTEGER" property="commentSwitch"/>
        <result column="author_name" jdbcType="VARCHAR" property="authorName"/>
        <result column="author_avatar" jdbcType="VARCHAR" property="authorAvatar"/>
    </resultMap>

    <sql id="Base_Column_List">
        video_id
        , video_title, first_img, video_category, video_type, video_url, video_summary,
    video_view, video_createtime, video_updatetime, video_state, video_coin, video_album,
    associated_article, associated_resource, author_id, comment_switch, author_name,author_avatar
    </sql>
    <insert id="insertSelective" parameterType="com.kang.entity.Video">
        insert into ttc_video
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="videoId != null">
                video_id,
            </if>
            <if test="videoTitle != null">
                video_title,
            </if>
            <if test="firstImg != null">
                first_img,
            </if>
            <if test="videoCategory != null">
                video_category,
            </if>
            <if test="videoType != null">
                video_type,
            </if>
            <if test="videoUrl != null">
                video_url,
            </if>
            <if test="videoSummary != null">
                video_summary,
            </if>
            <if test="videoView != null">
                video_view,
            </if>
            <if test="videoCreatetime != null">
                video_createtime,
            </if>
            <if test="videoUpdatetime != null">
                video_updatetime,
            </if>
            <if test="videoState != null">
                video_state,
            </if>
            <if test="videoCoin != null">
                video_coin,
            </if>
            <if test="videoAlbum != null">
                video_album,
            </if>
            <if test="associatedArticle != null">
                associated_article,
            </if>
            <if test="associatedResource != null">
                associated_resource,
            </if>
            <if test="authorId != null">
                author_id,
            </if>
            <if test="commentSwitch != null">
                comment_switch,
            </if>
            <if test="authorName != null">
                author_name,
            </if>
            <if test="authorAvatar != null">
                author_avatar,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="videoId != null">
                #{videoId,jdbcType=VARCHAR},
            </if>
            <if test="videoTitle != null">
                #{videoTitle,jdbcType=VARCHAR},
            </if>
            <if test="firstImg != null">
                #{firstImg,jdbcType=VARCHAR},
            </if>
            <if test="videoCategory != null">
                #{videoCategory,jdbcType=INTEGER},
            </if>
            <if test="videoType != null">
                #{videoType,jdbcType=INTEGER},
            </if>
            <if test="videoUrl != null">
                #{videoUrl,jdbcType=VARCHAR},
            </if>
            <if test="videoSummary != null">
                #{videoSummary,jdbcType=VARCHAR},
            </if>
            <if test="videoView != null">
                #{videoView,jdbcType=BIGINT},
            </if>
            <if test="videoCreatetime != null">
                #{videoCreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="videoUpdatetime != null">
                #{videoUpdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="videoState != null">
                #{videoState,jdbcType=INTEGER},
            </if>
            <if test="videoCoin != null">
                #{videoCoin,jdbcType=INTEGER},
            </if>
            <if test="videoAlbum != null">
                #{videoAlbum,jdbcType=VARCHAR},
            </if>
            <if test="associatedArticle != null">
                #{associatedArticle,jdbcType=VARCHAR},
            </if>
            <if test="associatedResource != null">
                #{associatedResource,jdbcType=VARCHAR},
            </if>
            <if test="authorId != null">
                #{authorId,jdbcType=BIGINT},
            </if>
            <if test="commentSwitch != null">
                #{commentSwitch,jdbcType=INTEGER},
            </if>
            <if test="authorName != null">
                #{authorName,jdbcType=VARCHAR},
            </if>
            <if test="authorAvatar != null">
                #{authorAvatar,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.kang.entity.Video">
        update ttc_video
        <set>
            <if test="videoTitle != null">
                video_title = #{videoTitle,jdbcType=VARCHAR},
            </if>
            <if test="firstImg != null">
                first_img = #{firstImg,jdbcType=VARCHAR},
            </if>
            <if test="videoCategory != null">
                video_category = #{videoCategory,jdbcType=INTEGER},
            </if>
            <if test="videoType != null">
                video_type = #{videoType,jdbcType=INTEGER},
            </if>
            <if test="videoUrl != null">
                video_url = #{videoUrl,jdbcType=VARCHAR},
            </if>
            <if test="videoSummary != null">
                video_summary = #{videoSummary,jdbcType=VARCHAR},
            </if>
            <if test="videoView != null">
                video_view = #{videoView,jdbcType=BIGINT},
            </if>
            <if test="videoCreatetime != null">
                video_createtime = #{videoCreatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="videoUpdatetime != null">
                video_updatetime = #{videoUpdatetime,jdbcType=TIMESTAMP},
            </if>
            <if test="videoState != null">
                video_state = #{videoState,jdbcType=INTEGER},
            </if>
            <if test="videoCoin != null">
                video_coin = #{videoCoin,jdbcType=INTEGER},
            </if>
            <if test="videoAlbum != null">
                video_album = #{videoAlbum,jdbcType=VARCHAR},
            </if>
            <if test="associatedArticle != null">
                associated_article = #{associatedArticle,jdbcType=VARCHAR},
            </if>
            <if test="associatedResource != null">
                associated_resource = #{associatedResource,jdbcType=VARCHAR},
            </if>
            <if test="authorId != null">
                author_id = #{authorId,jdbcType=BIGINT},
            </if>
            <if test="commentSwitch != null">
                comment_switch = #{commentSwitch,jdbcType=INTEGER},
            </if>
            <if test="authorName != null">
                author_name = #{authorName,jdbcType=VARCHAR},
            </if>
            <if test="authorAvatar != null">
                author_avatar = #{authorAvatar,jdbcType=VARCHAR},
            </if>
        </set>
        where video_id = #{videoId,jdbcType=VARCHAR}
    </update>

    <update id="updateUserInfoByUserId" parameterType="com.kang.entity.User">
        update ttc_video
        set author_name=#{nickName,jdbcType=VARCHAR},author_avatar=#{userAvatar,jdbcType=VARCHAR}
        where author_id=#{userId,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey">
        delete
        from ttc_video
        where video_id=#{videoId,jdbcType=VARCHAR}
    </delete>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="string">
        select
        <include refid="Base_Column_List"/>,category_name as videoCategoryName
        from ttc_video vi
        left join ttc_category ca
        on vi.video_category=ca.category_code
        where video_id=#{videoId,jdbcType=VARCHAR}
    </select>

    <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.kang.entity.vo.QueryVideoVo">
        select
        <include refid="Base_Column_List"/>,category_name as videoCategoryName
        from ttc_video vi
        left join ttc_category ca
        on vi.video_category=ca.category_code
        <where>
            <if test="authorId!=null">
                and vi.author_id=#{authorId}
            </if>
            <if test="videoState!=null">
                and vi.video_state=#{videoState}
            </if>
            <if test="categoryCode!=null and categoryCode!=-1">
                and vi.video_category=#{categoryCode}
            </if>
            <if test="albumId!=null and albumId!=''">
                and vi.video_album=#{albumId}
            </if>
        </where>
        <if test="order == 'new'.toString()">
            order by video_updatetime desc;
        </if>
        <if test="order == 'hot'.toString()">
            order by video_view desc;
        </if>
    </select>

    <select id="selectNum" resultType="com.kang.entity.vo.WorkStateNum" parameterType="long">
        select
            (select count(1) from ttc_video where author_id=#{uid} and video_state=0) as zero,
            (select count(1) from ttc_video where author_id=#{uid} and video_state=1) as one,
            (select count(1) from ttc_video where author_id=#{uid} and video_state=2) as two,
            (select count(1) from ttc_video where author_id=#{uid} and video_state=3) as three
    </select>

    <select id="selectByIds" resultMap="BaseResultMap" parameterType="list">
        select
        <include refid="Base_Column_List"/>,category_name as videoCategoryName
        from ttc_video vi
        left join ttc_category ca
        on vi.video_category = ca.category_code
        where vi.video_id in
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
